body{
    font-family: Arial, sans-serif;
    text-align: center ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container{
    height: 200px;
    width: 800px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
   
}
div{
    height: 100px;
    width: 500px;
    display: inline-block;
    border: 2px solid black;
}

#box1{
 
    background-color: coral;


}
#box2{
background-color: blanchedalmond
}
#box3{

    background-color: cadetblue;


}
#box4{

    background-color: rgb(105, 45, 255);


}
#box5{

    background-color: rgb(19, 241, 138);

}