
.nav{
    color: white;
    background-color: #333;
    display: flex;
    justify-content: space-around;}
 li{
    list-style: none;
    }
a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
main{
    display: flex;
    justify-content: center;
}
#container{
    border: 2px solid black;
    height: 400px;
    width: 400px;
     display: flex;
    justify-content: center;
    align-items: center;
}
#box1{
    width: 100px;
    height: 100px;
    background-color: lightblue;
}