body{
    font-family: Arial, sans-serif;
    text-align: center ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container{
    height: 200px;
    width: 600px;
    font-size: 16px;
    display: flex;
   
}
div{
    height: 100px;
    width: 150px;
    display: inline-block;
    border: 2px solid black;
}

#box1{
 
    background-color: coral;



}
#box2{
    height: 200px;
background-color: blanchedalmond;
flex-shrink: 2;  
}
#box3{
    height: 70px;
    background-color: cadetblue;



}
#box4{

    background-color: rgb(105, 45, 255);
    

}
#box5{

    background-color: rgb(19, 241, 138);

}